<div class="mx-auto" style="width: 450px; padding-top: 30px;">
    <h1 class="read-title">New Reading Record</h1>
    <%= render 'form', meeting: @meeting %>
    <%= link_to 'Back', meetings_path %>
</div>