<% tweet_post(@meeting.content) %>

<div class="mx-auto" style="width: 800px; padding-top: 10px;">
  <p id="notice"><%= notice %></p>

      <%= @meeting.name %>
  <div class="read-title">
    <p class="card-text"><%= @meeting.content %></p>
  </div>
</div>

OK